<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLib.Properties.Settings.TownConnectionString"
            connectionString="Data Source=localhost\MSSQL2008R2;Initial Catalog=Town;Persist Security Info=True;User ID=sa;Password=tongji"
            providerName="System.Data.SqlClient" />
        <add name="DataLib.Properties.Settings.townConnectionString1"
            connectionString="Data Source=localhost\MSSQL2008R2;Initial Catalog=Town;Persist Security Info=True;User ID=sa;Password=tongji"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
